@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: #67feb8;
    --background-color: #050505;
    --text-color: #fafafa;
    --foreground-color: #1a1a1a;
    --secondary-accent-color: #fecde4;

    font-family: "Poppins";
    line-height: 0em;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
    text-decoration: underline;
    color: var(--accent-color);
}

h1 {
    font-size: 2.5em;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    color: var(--text-color);
    background-color: var(--background-color);
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-color);
    transition: all 0.1s ease-in;
}
button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(75%);
}

select {
    outline: none;
    padding: 0.5em;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 0.4em;
    margin-left: 0.5em;
    font-family: "Poppins";
    border-color: transparent;

    transition: all 0.1s ease-in;
}
select:hover {
    filter: brightness(140%);
}
