@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --accent-color: #646cff;
    --background-color: rgb(20, 20, 20);
    --text-color: rgb(240, 240, 240);
    --foreground-color: rgb(5, 5, 5);
    --secondary-accent-color: crimson;

    font-family: "Poppins";
    line-height: 0em;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
    text-decoration: underline;
    color: var(--accent-color);
}

h1 {
    font-size: 2.5em;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    color: var(--text-color);
    background-color: var(--background-color);
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button {
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--accent-color);
    transition: all 0.1s ease-in;
}
button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(75%);
}
